---
import { FileDropzone } from '@/components/FileDropzone';
import { UploadForm } from '@/components/UploadForm';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<main class='flex justify-center items-center min-h-screen'>
		<div class='container py-16'>
			<div class='max-w-2xl mx-auto flex flex-col gap-16'>
				<h1 class='text-center text-4xl font-bold'>Image Compressor</h1>
				<UploadForm client:only='react' />
			</div>
		</div>
	</main>
</BaseLayout>
